# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Django stuff:
db.sqlite3
media/
staticfiles/

# VSCode and IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Gunicorn/PID files
*.pid 